body {
    background-image: url('./background.jpg');
}
.center {
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.topnav {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.topnav a {
    padding-right: 12.5px;
    padding-left: 12.5px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
.topnav span {
    padding-right: 12.5px;
    padding-left: 12.5px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
.disablepage {
    color: black;
}
.activepage {
    background-color: purple;
    color: white;
}
#discordbutton {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    background-color: purple;
    color: white;
    border-radius: 20px;
    display: block;
}
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    overflow: auto;
    position: absolute;
}
.dropdown:hover span {
    background-color: purple;
    position: relative;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
@keyframes rotate {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}
#arrow {
    display: block;
    width: fit-content;
    display: inline-block;
    background-color: unset;
}
.dropdown:hover #arrow {
    animation-name: rotate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}